/* === 17. START CONTACT SECTION === */

/* == Styling Info Box == */
.info-box .info-box-item p {
	padding-right: 20px;
}

/* == Styling Social Box == */
.social-box ul li i.fa-instagram {
	background: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.social-box ul li i.fa-github {
    background: #305a69;
}

