/* === 18. START SINGLE PROJECT SLIDE === */

/* = Styling Project Details = */

.project-cover .slider-nav i:hover {
	color: $purple;
	border-color: $purple;
}

/* Styling Contact Form Wrapper */

.contact-group .comment-form input[type='submit']:hover {
	background: $light-purple;
}